@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "americana";
    src: url("/assets/fonts/americana/Americana-Regular.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: "americana";
    src: url("/assets/fonts/americana/AmericanaStd-Italic.woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

::-webkit-scrollbar {
    display: none;
}
